criar
<form action="#" name="omeuform">
<!-- Simple Textfield -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="data.url" ng-length>
    <label class="mdl-textfield__label" for="sample1">Insira url do vídeo</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="data.firstName">
    <label class="mdl-textfield__label" for="sample1">Insira o nome</label>
  </div>
  <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="basic.verificaFilme(data)">
    <i class="material-icons">add</i>
  </button>
</form>