editar
<form action="#" >
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="basic.editURL">
    <label class="mdl-textfield__label" for="sample1"></label>
  </div>
    <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="basic.editFirstName">
    <label class="mdl-textfield__label" for="sample1"></label>
  </div>
  <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="basic.alteraBasic()">
    <i class="material-icons">add</i>
  </button>
</form>